<h1>Hello world</h1>
<p>you are in hello.html.erb</p>
<a href='/say/dual_mode' target="_blank"> Visit the dual mode page</a>|<a href='https://www.google.com' target="_blank">Visit the google page </a>